@using Sitecore.Mvc
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SampleList</title>
</head>
<body>
    <div>
        Sample List Page
    </div>
    @Html.Sitecore().Placeholder("main")
</body>
</html>
